.bws_top_wrap {
  height: 39px;
  line-height: 39px;
  background: #f8f8f8;
  border-bottom: 1px solid #e9e9e9; }
.bws_top_cont {
  width: 1200px;
  margin: 0 auto;
  font-size: 12px;
  color: #333; }
  .bws_top_cont p {
    margin-left: 224px;
    margin-right: 224px;
    text-align: center; }

.bws_search_wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 19px 0; }
  .bws_search_wrap .bws_logo {
    width: 128px;
    height: 128px;
    line-height: 128px;
    text-align: center;
    background: #564646;
    color: #fff; }
  .bws_search_wrap .bws_search {
    height: 46px;
    border: 1px solid #ca0000;
    font-size: 18px;
    margin-left: 56px;
    margin-top: 40px; }
    .bws_search_wrap .bws_search input {
      width: 480px;
      height: 46px;
      font-size: 18px;
      border: 0;
      padding: 0 0 0 18px; }
    .bws_search_wrap .bws_search span {
      width: 104px;
      height: 46px;
      line-height: 46px;
      text-align: center;
      color: #fff;
      background: #ca0000;
      display: inline-block;
      cursor: pointer; }
  .bws_search_wrap .bws_search_nav {
    font-size: 16px;
    margin-top: 63px; }
    .bws_search_wrap .bws_search_nav a {
      margin-left: 38px; }

.bws_main_nav_wrap {
  background: #ca0000; }
.bws_main_nav_cont {
  width: 1200px;
  margin: 0 auto;
  height: 54px;
  line-height: 54px;
  font-size: 18px; }
  .bws_main_nav_cont a {
    color: #feffff;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-left: -1px;
    margin-right: -1px;
    border: 1px solid transparent;
    height: 27px;
    line-height: 27px; }
    .bws_main_nav_cont a:hover {
      border: 1px solid #feffff; }
    .bws_main_nav_cont a.selected {
      border: 1px solid #feffff; }
  .bws_main_nav_cont li {
    width: 9.0909090909%; }

.bws_city_hot_wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0; }
  .bws_city_hot_wrap .bws_nav_name {
    width: 65px;
    height: 65px;
    color: #fffeff;
    background: #ca0000; }
    .bws_city_hot_wrap .bws_nav_name span {
      width: 65px;
      height: 65px;
      line-height: 20px;
      text-align: center;
      display: table-cell;
      vertical-align: middle; }
  .bws_city_hot_wrap .bws_nav_cont {
    height: 65px;
    background: #f6f6f6;
    padding: 0 12px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .bws_city_hot_wrap .bws_nav_cont a {
      margin: 0 8px;
      float: left;
      line-height: 32.5px;
      font-size: 12px; }
  .bws_city_hot_wrap .bws_city .bws_nav_cont {
    width: 676px; }
  .bws_city_hot_wrap .bws_hot .bws_nav_cont {
    width: 392px;
    justify-content: flex-start; }

.bws_banner {
  height: 520px;
  position: relative; }
  .bws_banner .swiper-slide {
    height: 520px;
    background-size: cover;
    background-position: center center; }
  .bws_banner .swiper-pagination {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    cursor: default; }
    .bws_banner .swiper-pagination span {
      cursor: pointer !important; }
  .bws_banner a {
    display: block;
    width: 100%;
    height: 520px; }

.color999 {
  color: #999; }

.color333 {
  color: #333; }

.bws_module_wrap {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px; }
.bws_module_left {
  width: 366px; }
.bws_module_title {
  height: 42px;
  line-height: 42px;
  border-bottom: 2px solid #dbdbdb;
  font-weight: bold;
  position: relative; }
  .bws_module_title span {
    display: inline-block;
    border-bottom: 2px solid #c20000;
    float: left; }
    .bws_module_title span i {
      font-size: 24px;
      color: #000;
      float: left;
      margin-right: 8px;
      font-weight: normal; }
  .bws_module_title .more {
    float: right;
    color: #acacac;
    font-size: 12px; }
    .bws_module_title .more i {
      margin-left: 6px; }
  .bws_module_title .toggle_btn {
    font-size: 13px;
    position: absolute;
    left: 220px;
    bottom: 0; }
    .bws_module_title .toggle_btn em {
      padding: 0 22px; }
    .bws_module_title .toggle_btn a.selected {
      color: #cb0000; }
  .bws_module_title.not_text_border span {
    border: 0; }
  .bws_module_title.not_border {
    border: 0; }
  .bws_module_title.px1_border {
    border-width: 1px; }
.bws_module_list {
  padding-top: 14px; }
  .bws_module_list li {
    position: relative;
    padding-left: 14px;
    line-height: 30px;
    font-size: 13px;
    color: #676767;
    overflow: hidden; }
    .bws_module_list li:after {
      content: '';
      width: 5px;
      height: 5px;
      background: #cecece;
      margin-top: -2px;
      position: absolute;
      left: 0;
      top: 50%; }
    .bws_module_list li p {
      width: 280px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left; }
      .bws_module_list li p a {
        color: #676767; }
        .bws_module_list li p a:hover {
          color: #c20000; }
    .bws_module_list li span {
      width: 48px;
      text-align: center;
      float: right; }
.bws_module_right_introduce {
  width: 496px;
  padding: 0 22px; }
  .bws_module_right_introduce h6 {
    font-size: 26px;
    text-align: center;
    line-height: 30px;
    padding-top: 14px;
    position: relative; }
    .bws_module_right_introduce h6:last-of-type {
      padding: 30px 0;
      margin-top: -1px; }
      .bws_module_right_introduce h6:last-of-type:after {
        content: '';
        width: 313px;
        height: 1px;
        background: #757575;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%); }
  .bws_module_right_introduce p {
    margin: 30px 0;
    text-indent: 2em;
    line-height: 25px;
    color: #333;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .bws_module_right_introduce ul li {
    float: left;
    width: 50%;
    margin-bottom: 14px; }
    .bws_module_right_introduce ul li span {
      display: block;
      margin: 0 24px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
.bws_module_right_form {
  width: 273px;
  padding-left: 20px;
  font-size: 0; }
  .bws_module_right_form h6 {
    width: 100%;
    border: 0;
    font-size: 19px; }
  .bws_module_right_form form p {
    margin-bottom: 16px;
    position: relative; }
    .bws_module_right_form form p:after {
      content: attr(data-required);
      width: 20px;
      height: 100%;
      line-height: 29px;
      text-align: center;
      color: #757575;
      font-size: 12px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 9; }
  .bws_module_right_form form input,
  .bws_module_right_form form textarea {
    padding: 0;
    font-size: 12px;
    border: 1px solid #d0d0d0; }
  .bws_module_right_form form textarea {
    width: 256px;
    height: 80px;
    resize: none;
    padding: 6px 8px; }
  .bws_module_right_form form input {
    width: 251px;
    height: 27px;
    line-height: 27px;
    padding-left: 20px; }
  .bws_module_right_form form div {
    font-size: 12px; }
    .bws_module_right_form form div button {
      width: 105px;
      height: 29px;
      background: #ca0000;
      font-size: 14px;
      color: #fff;
      border: 0;
      float: left; }
    .bws_module_right_form form div dl {
      margin-left: 123px;
      line-height: 16px; }
      .bws_module_right_form form div dl i {
        font-size: 16px;
        margin-right: 8px; }
.bws_module_right_college {
  width: 416px;
  padding: 0 26px; }
  .bws_module_right_college .module_block {
    display: block; }
  .bws_module_right_college_cont_wrap {
    display: none; }
  .bws_module_right_college_cont dl {
    padding: 11px 0; }
    .bws_module_right_college_cont dl dt {
      float: left;
      width: 80px;
      height: 80px;
      line-height: 80px;
      text-align: center; }
      .bws_module_right_college_cont dl dt img {
        width: 68px;
        display: inline-block;
        vertical-align: middle; }
    .bws_module_right_college_cont dl dd {
      margin-left: 96px; }
      .bws_module_right_college_cont dl dd h6 {
        font-size: 18px;
        margin-bottom: 16px;
        font-weight: bold; }
      .bws_module_right_college_cont dl dd p {
        line-height: 22px;
        font-size: 14px; }
      .bws_module_right_college_cont dl dd span {
        color: #c00; }
  .bws_module_right_college .chatBtn {
    width: 112px;
    height: 33px;
    background: #ca0000;
    border-radius: 6px;
    color: #fff;
    border: 0;
    float: right; }
.bws_module_right_book {
  width: 365px; }
  .bws_module_right_book ul li {
    font-size: 13px;
    padding: 10px 0;
    line-height: 22px;
    border-bottom: 1px solid #cecece;
    position: relative; }
    .bws_module_right_book ul li p {
      overflow: hidden;
      margin-top: -22px; }
    .bws_module_right_book ul li a {
      float: right;
      background: #fff;
      position: relative; }
.bws_module_right_wbhot {
  width: 365px; }
  .bws_module_right_wbhot_details a {
    display: block; }
  .bws_module_right_wbhot_details dl {
    margin-bottom: 14px; }
  .bws_module_right_wbhot_details dt {
    width: 68px;
    height: 68px;
    background: #0ff; }
  .bws_module_right_wbhot_details dd {
    height: 68px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 14px;
    overflow: hidden; }
    .bws_module_right_wbhot_details dd h6 {
      line-height: 20px; }
    .bws_module_right_wbhot_details dd p {
      height: 42px;
      overflow: hidden; }
.bws_module_right_move {
  width: 755px;
  padding-left: 78px; }
  .bws_module_right_move .bws_module_title {
    padding-right: 34px; }
  .bws_module_right_move_details {
    padding-top: 20px; }
    .bws_module_right_move_details .left_btn,
    .bws_module_right_move_details .right_btn {
      width: 41px;
      height: 200px;
      user-select: none;
      position: relative; }
      .bws_module_right_move_details .left_btn span,
      .bws_module_right_move_details .right_btn span {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        font-size: 30px;
        color: #e4e4e4;
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        margin-top: -45px; }
    .bws_module_right_move_details .left_btn {
      float: left; }
    .bws_module_right_move_details .right_btn {
      float: right; }
    .bws_module_right_move_details .center_cont {
      width: 100%;
      height: 200px; }
    .bws_module_right_move_details .move_wrap {
      height: 200px;
      margin: 0 41px;
      position: relative;
      overflow: hidden; }
      .bws_module_right_move_details .move_wrap .move_ele {
        position: absolute;
        left: 0;
        top: 0;
        margin-right: -20px;
        padding-left: 4px; }
      .bws_module_right_move_details .move_wrap a {
        float: left;
        margin-right: 20px; }
        .bws_module_right_move_details .move_wrap a:hover {
          color: #c20000; }
      .bws_module_right_move_details .move_wrap dl {
        width: 208px;
        text-align: center; }
      .bws_module_right_move_details .move_wrap dt {
        font-size: 14px;
        line-height: 40px; }
      .bws_module_right_move_details .move_wrap dd {
        height: 156px;
        background: pink; }
.bws_module_center {
  width: 364px;
  padding: 0 52px; }
.bws_module_last {
  width: 365px; }

.bws_sign_up_wrap {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 60px; }
  .bws_sign_up_wrap .left_image {
    width: 364px;
    height: 475px;
    background: #0f0; }
  .bws_sign_up_wrap .center_from {
    width: 392px;
    margin: 0 auto; }
    .bws_sign_up_wrap .center_from h5 {
      font-size: 25px;
      text-align: center;
      margin-bottom: 28px;
      color: #c90103;
      font-weight: bold; }
    .bws_sign_up_wrap .center_from .table li {
      overflow: hidden;
      margin-bottom: 19px; }
      .bws_sign_up_wrap .center_from .table li:nth-last-of-type(2) {
        margin-bottom: 13px; }
    .bws_sign_up_wrap .center_from .table input {
      width: 288px;
      height: 34px;
      line-height: 34px;
      padding: 0 5px;
      border: 1px solid #ccc; }
    .bws_sign_up_wrap .center_from .table textarea {
      width: 288px;
      height: 74px;
      padding: 5px;
      resize: none;
      border: 1px solid #ccc; }
    .bws_sign_up_wrap .center_from .table_cont {
      margin-left: 88px; }
    .bws_sign_up_wrap .center_from .table_name {
      float: left;
      height: 36px;
      line-height: 36px; }
    .bws_sign_up_wrap .center_from .submit_btn {
      width: 233px;
      height: 40px;
      font-size: 17px;
      color: #fffeff;
      background: #1c95ce;
      border-radius: 3px; }

.bws_long_banner {
  height: 100px;
  background: #ca0000;
  margin-top: 30px; }

.bws_foot_nav {
  width: 1200px;
  margin: 0 auto;
  height: 40px;
  line-height: 40px; }
  .bws_foot_nav_wrap {
    background: #f5f5f5; }
  .bws_foot_nav li {
    font-size: 14px;
    color: #010101; }
  .bws_foot_nav .first_not_hover {
    padding: 0 6px; }
  .bws_foot_nav li a {
    display: block;
    padding: 0 6px;
    margin-right: 6px;
    color: #000; }
    .bws_foot_nav li a:hover {
      background: #dedede; }

.bws_footer_wrap {
  background: #333; }
.bws_footer_cont {
  width: 1200px;
  margin: 0 auto;
  height: 94px;
  padding-top: 12px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color: #fff; }
  .bws_footer_cont_ft span {
    display: inline-block;
    padding: 0 14px; }
  .bws_footer_cont_ft a {
    color: #fff; }
    .bws_footer_cont_ft a:hover {
      color: #0f0; }
  .bws_footer_cont_fc span {
    display: inline-block;
    padding: 0 7px; }
  .bws_footer_cont_fb span {
    display: inline-block;
    padding: 0 2px; }

/*# sourceMappingURL=style.css.map */
