.bws_top_wrap {
  height: 32px;
  line-height: 32px;
  background: #f8f8f8;
  border-bottom: 1px solid #e9e9e9;
}
.bws_top_cont {
  width: 1200px;
  margin: 0 auto;
  font-size: 12px;
  color: #333;
}
.bws_top_cont p {
  margin-left: 224px;
  margin-right: 224px;
  text-align: center;
  color: #ee262a;
}
.bws_top_cont i {
  vertical-align: middle;
}

.bws_module_title .icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-top: 10px;
  background-size: cover;
}

.bws_search_wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 25px 0;
}
.bws_search_wrap .bws_logo {
  width: 260px;
  height: 50px;
  line-height: 128px;
  text-align: center;
  background-size: 246px;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
}
.bws_search_wrap .bws_search {
  height: 36px;
  border: 1px solid #e4393c;
  font-size: 18px;
  margin-left: 112px;
  margin-top: 8px;
}
.bws_search_wrap .bws_search input {
  width: 381px;
  height: 36px;
  font-size: 18px;
  border: 0;
  padding: 0 0 0 18px;
}
.bws_search_wrap .bws_search button {
  width: 72px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  background: #e4393c;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.bws_search_wrap .bws_search_nav {
  font-size: 14px;
  margin-top: 12px;
}
.bws_search_wrap .bws_search_nav li {
  position: relative;
  height: 25px;
  line-height: 25px;
}
.bws_search_wrap .bws_search_nav a {
  margin-left: 25px;
}
.bws_search_wrap .bws_search_nav dl {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 38px;
  top: 24px;
  border: 1px solid #e4e0e0;
  border-radius: 4px;
  font-size: 14px;
  background: #fff;
  display: none;
}
.bws_search_wrap .bws_search_nav dl dd {
  height: 30px;
  line-height: 30px;
}
.bws_search_wrap .bws_search_nav dl dd:hover {
  background: #f2f2f2;
}
.bws_search_wrap .bws_search_nav dl dd:hover a {
  color: #e4393c;
}
.bws_search_wrap .bws_search_nav dl a {
  margin: 0;
}

.bws_main_nav_wrap {
  background: #e4393c;
}
.bws_main_nav_cont {
  width: 1200px;
  margin: 0 auto;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
}
.bws_main_nav_cont li:hover {
  background: #cc1216;
}
.bws_main_nav_cont a {
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-left: -1px;
  margin-right: -1px;
  border: 1px solid transparent;
  height: 27px;
  line-height: 27px;
}
.bws_main_nav_cont a:hover {
  border: 1px solid transparent;
}
.bws_main_nav_cont a.selected {
  border: 1px solid transparent;
}
.bws_main_nav_cont li {
  width: 9.0909090909%;
}

.bws_city_hot_wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 12px 0;
}
.bws_city_hot_wrap .bws_nav_name {
  width: 54px;
  height: 54px;
  color: #fffeff;
  background: #e4393c;
}
.bws_city_hot_wrap .bws_nav_name span {
  line-height: 20px;
  display: block;
  margin: -2px 0 0 2px;
  width: 40px;
  height: 42px;
  float: left;
  font-size: 14px;
  color: #fff;
  padding-left: 6px;
  padding-top: 9px;
}
.bws_city_hot_wrap .bws_nav_cont {
  height: 54px;
  background: #fff;
  padding: 0 12px;
  box-sizing: border-box;
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bws_city_hot_wrap .bws_nav_cont a {
  margin: 0 8px;
  float: left;
  line-height: 27px;
  font-size: 12px;
}
.bws_city_hot_wrap .bws_cont_right a {
  width: 76px;
  margin: 0;
  padding: 0 8px;
}
.bws_city_hot_wrap .bws_city .bws_nav_cont {
  width: 676px;
}
.bws_city_hot_wrap .bws_hot .bws_nav_cont {
  width: 416px;
  justify-content: flex-start;
}

.bws_banner {
  width: 1200px;
  margin: 0 auto;
  height: 420px;
  position: relative;
}
.bws_banner .swiper-slide {
  height: 420px;
  background-size: cover;
  background-position: center center;
}
.bws_banner .swiper-pagination {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  cursor: default;
}
.bws_banner .swiper-pagination span {
  cursor: pointer !important;
}
.bws_banner a {
  display: block;
  width: 100%;
  height: 520px;
}

.bws_module_list li {
  font-size: 16px;
  line-height: 32px;
}

.bws_module_right_wbhot_details .cont {
  font-size: 16px;
}

.bws_module_right_book ul li {
  font-size: 16px;
}

.bws_city {
  width: 730px;
}

.bws_hot {
  width: 470px;
}

.bws_module_title.move_title {
  margin-top: 20px;
  height: 44px;
  background: #f9f9f9;
  border-top: 2px solid #d10000;
}
.bws_module_title.move_title span {
  margin-left: 1.5em;
}

.move_ele dd {
  transition: .3s;
}
.move_ele dd:hover {
  transform: scale(1.1);
  transform-origin: center center;
}

.bws_module_right_form form textarea {
  height: 60px;
}
.bws_module_right_form form div {
  text-align: center;
}
.bws_module_right_form form div button {
  float: none;
  border-radius: 20px;
}
.bws_module_right_form form div dl i {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
}
.bws_module_right_form form div dl {
  margin-top: 4px;
  margin-left: 0;
  overflow: hidden;
}
.bws_module_right_form form div dl dd {
  width: 50%;
  float: left;
}
.bws_module_right_form dd {
  line-height: 24px;
}

.bws_module_lists_item_list li {
  font-size: 16px;
}

.bws_module_left_cont_text_page {
  font-size: 14px;
}

.bws_module_right_bottom_list li {
  font-size: 16px;
}

.bws_text_wrap .bws_module_right_bottom_list li {
  font-size: 16px;
}

.bws_module_right_bottom_list li:after {
  background: #ca0000;
}

.bws_text_wrap .bws_module_right_bottom_list li:after {
  background: #ca0000;
}

.bws_module_list li .cont p {
  font-size: 14px;
  line-height: 20px;
}

.bws_module_title .icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-top: 10px;
  background-size: cover;
}

.bws_left {
  width: 800px;
}
.bws_left li p {
  width: 700px;
}

.bws_right {
  width: 370px;
}

.bws_list_line {
  height: 1px;
  background: #f6f6f6;
  margin: 12px 0;
}

/*# sourceMappingURL=patch-style-sheet.css.map */
